#sort {
    width: 100%;
    border: solid brown 3px;
    border-radius: 15px;
    background-color: white;
}
#opener {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#opener>* {
    margin: 2% 5%;
    margin-right: 10%;
    font-size: 1.7rem;
}
.sorter:first-child {
    width: 35%;
    margin-right: 30px;
}
.sorter {
    width: 35%;
    margin-right: 30px;
}
#sorting {
    display: flex;
    flex-direction: row;
    padding: 1% 2%;
    border-top: solid black 1px;
}
.sorter>label {
    margin-left: 10px;
    font-size: 1.5rem;
    color: brown;

}
.sorter>div {
    padding-left: 12px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.category {
    padding: 1% 2%;
    margin: 1%;
    border-radius: 15px;
}
.unselected {
    border: solid brown 3px;
}
.selected {
    color: aliceblue;
    border: solid black 3px;
    background-color: brown;
}
#reset {
    width: 100px;
    border: solid black 2px;
    height: 50px;
    align-self: center;
    margin-top: 20%;
}
#range {
    margin-bottom: 4%;
}

